.nav-switch {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
	white-space: nowrap;
}

.hamburger {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 50%;
	// right: 0;
	right: -0.75rem;
	z-index: 3;
	margin: 0;
	padding: 0;
	width: $ham-W;
	height: $ham-H;
	border: 0;
	background: transparent;
	color: #fff;
	cursor: pointer;
	appearance: none;
	-webkit-appearance: none;
	transform: translateY(-50%);

	&:hover,
	&:focus-visible {
		color: var(--color-highlight);
		outline: none;
	}

	@include mq(mq-land) {
		display: none;
	}
}

.hamburger__icon {
	position: relative;
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: currentColor;

	&::before,
	&::after {
		content: "";
		position: absolute;
		left: 0;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background-color: currentColor;
	}

	&::before {
		top: -14px;
	}

	&::after {
		bottom: -14px;
	}
}

.nav-switch:checked ~ .hamburger .hamburger__icon {
	background-color: transparent;

	&::before,
	&::after {
		left: -8px;
		width: 24px;
		height: 2px;
		border-radius: 0;
	}

	&::before {
		top: 3px;
		transform: rotate(45deg);
	}

	&::after {
		bottom: 3px;
		transform: rotate(-45deg);
	}
}
