.footer-nav {
	padding: 0 0 var(--pad-T) 0;
}
.footnav-list {}
.nav-list {}
.list-none {}
.plain {}

.section-footer {
	margin-bottom: calc(var(--pad-T) * 2);
	@include mq(mq-land) {
		margin-bottom: var(--pad-T);
	}
	.footnav-list {
		display: flex;
		justify-content: center;
		margin: 0;
		li.menu-item {
			float: none;
			display: flex;
		// height: calc(var(--touch-S) * 1.5);
			width: calc(var(--touch-S) * 1.5);
			aspect-ratio: 1;
			a {
				height: 100%;
				width: 100%;
			}
			&:not(:last-child) {
				margin-right: var(--gap);
			}
		}
		li {
			// opacity: .6;
			// &:hover {

			// }
		}
	}
}


	// a[href^="https://www.facebook.com"],
	a[href*="facebook.com"]:not(.news-grid--link):not(.SaMlogoline a),
	// a[href^="https://www.instagram.com"],
	a[href*="instagram.com"]:not(.news-grid--link):not(.SaMlogoline a),
	// a[href^="https://www.vimeo.com"],
	a[href*="vimeo.com"]:not(.news-grid--link):not(.SaMlogoline a),
	// a[href^="https://www.linkedin.com"],
	a[href*="linkedin.com"]:not(.news-grid--link):not(.SaMlogoline a) {
		text-indent: -999px;
		overflow: hidden;
		display: block;
		background-position: center center;
		background-repeat: no-repeat;
	}

	// a[href^="https://www.facebook.com"],
	a[href*="facebook.com"]:not(.news-grid--link) {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 36'%3E%3Cpath fill='%23" + str-slice('#{$white}', 2) +  "' d='M13.56 11.79c0-1.08.1-1.66 1.68-1.66h2.1V6h-3.36c-4.04 0-5.46 2.01-5.46 5.38v2.48H6V18h2.52v12h5.04V18h3.36l.45-4.14h-3.8v-2.07h-.01Z'/%3E%3C/svg%3E");
		background-size: contain;
		&:hover {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 36'%3E%3Cpath fill='%23" + str-slice('#{$hover}', 2) +  "' d='M13.56 11.79c0-1.08.1-1.66 1.68-1.66h2.1V6h-3.36c-4.04 0-5.46 2.01-5.46 5.38v2.48H6V18h2.52v12h5.04V18h3.36l.45-4.14h-3.8v-2.07h-.01Z'/%3E%3C/svg%3E");
		}
	}
	// a[href^="https://www.instagram.com"],
	a[href*="instagram.com"]:not(.news-grid--link) {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 32 36'%3E%3Cpath fill='%23" + str-slice('#{$white}', 2) +  "' d='M16 11.84c-3.4 0-6.16 2.76-6.16 6.16 0 3.4 2.76 6.16 6.16 6.16 3.4 0 6.16-2.76 6.16-6.16 0-3.4-2.76-6.16-6.16-6.16ZM16 22c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4Zm11.37-11.86a6.129 6.129 0 0 0-3.51-3.51 8.79 8.79 0 0 0-2.91-.56C19.67 6.01 19.26 6 16 6c-3.26 0-3.67.01-4.95.07-1 .02-1.98.21-2.91.56-1.61.62-2.89 1.9-3.51 3.51a8.79 8.79 0 0 0-.56 2.91C4.01 14.33 4 14.74 4 18c0 3.26.01 3.67.07 4.95.02 1 .21 1.98.56 2.91.62 1.61 1.9 2.89 3.51 3.51.93.35 1.92.54 2.91.56 1.28.06 1.69.07 4.95.07 3.26 0 3.67-.01 4.95-.07 1-.02 1.98-.21 2.91-.56 1.61-.62 2.89-1.9 3.51-3.51.35-.93.54-1.92.56-2.91.06-1.28.07-1.69.07-4.95 0-3.26-.01-3.67-.07-4.95-.02-1-.21-1.98-.56-2.91Zm-1.6 12.71c0 .76-.15 1.51-.41 2.23a3.97 3.97 0 0 1-2.28 2.28c-.71.26-1.47.4-2.23.41-1.27.06-1.64.07-4.85.07s-3.58-.01-4.85-.07c-.76 0-1.51-.15-2.23-.41a3.97 3.97 0 0 1-2.28-2.28 6.77 6.77 0 0 1-.41-2.23c-.06-1.27-.07-1.65-.07-4.85 0-3.2.01-3.58.07-4.85 0-.76.15-1.51.41-2.23a3.97 3.97 0 0 1 2.28-2.28c.71-.26 1.47-.4 2.23-.41 1.27-.06 1.64-.07 4.85-.07s3.58.01 4.85.07c.76 0 1.51.15 2.23.41a3.97 3.97 0 0 1 2.28 2.28c.26.71.4 1.47.41 2.23.06 1.27.07 1.65.07 4.85 0 3.2-.02 3.58-.07 4.85Zm-3.36-12.69c-.8 0-1.44.64-1.44 1.44 0 .8.64 1.44 1.44 1.44a1.44 1.44 0 0 0 0-2.88Z'/%3E%3C/svg%3E");
		background-size: contain;
		&:hover {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 32 36'%3E%3Cpath fill='%23" + str-slice('#{$hover}', 2) +  "' d='M16 11.84c-3.4 0-6.16 2.76-6.16 6.16 0 3.4 2.76 6.16 6.16 6.16 3.4 0 6.16-2.76 6.16-6.16 0-3.4-2.76-6.16-6.16-6.16ZM16 22c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4Zm11.37-11.86a6.129 6.129 0 0 0-3.51-3.51 8.79 8.79 0 0 0-2.91-.56C19.67 6.01 19.26 6 16 6c-3.26 0-3.67.01-4.95.07-1 .02-1.98.21-2.91.56-1.61.62-2.89 1.9-3.51 3.51a8.79 8.79 0 0 0-.56 2.91C4.01 14.33 4 14.74 4 18c0 3.26.01 3.67.07 4.95.02 1 .21 1.98.56 2.91.62 1.61 1.9 2.89 3.51 3.51.93.35 1.92.54 2.91.56 1.28.06 1.69.07 4.95.07 3.26 0 3.67-.01 4.95-.07 1-.02 1.98-.21 2.91-.56 1.61-.62 2.89-1.9 3.51-3.51.35-.93.54-1.92.56-2.91.06-1.28.07-1.69.07-4.95 0-3.26-.01-3.67-.07-4.95-.02-1-.21-1.98-.56-2.91Zm-1.6 12.71c0 .76-.15 1.51-.41 2.23a3.97 3.97 0 0 1-2.28 2.28c-.71.26-1.47.4-2.23.41-1.27.06-1.64.07-4.85.07s-3.58-.01-4.85-.07c-.76 0-1.51-.15-2.23-.41a3.97 3.97 0 0 1-2.28-2.28 6.77 6.77 0 0 1-.41-2.23c-.06-1.27-.07-1.65-.07-4.85 0-3.2.01-3.58.07-4.85 0-.76.15-1.51.41-2.23a3.97 3.97 0 0 1 2.28-2.28c.71-.26 1.47-.4 2.23-.41 1.27-.06 1.64-.07 4.85-.07s3.58.01 4.85.07c.76 0 1.51.15 2.23.41a3.97 3.97 0 0 1 2.28 2.28c.26.71.4 1.47.41 2.23.06 1.27.07 1.65.07 4.85 0 3.2-.02 3.58-.07 4.85Zm-3.36-12.69c-.8 0-1.44.64-1.44 1.44 0 .8.64 1.44 1.44 1.44a1.44 1.44 0 0 0 0-2.88Z'/%3E%3C/svg%3E");
		}
	}
	// a[href^="https://www.vimeo.com"],
	a[href*="vimeo.com"]:not(.news-grid--link) {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500'%3E%3Cpath fill='%23" + str-slice('#{$white}', 2) +  "' d='M402.2 178.5c2.3-13 2.3-26.4-5.8-36.5-11.2-14.2-35.1-14.7-51.4-12.2-13.3 2.1-58.3 21.9-73.6 69.4 27.1-2 41.3 2 38.7 31.8-1.1 12.5-7.4 26.2-14.4 39.3-8.1 15.1-23.4 44.8-43.4 23.4-18-19.3-16.7-56.1-20.8-80.6-2.3-13.8-4.7-30.9-9.2-45.1-3.9-12.2-12.8-26.8-23.7-30-11.7-3.4-26.2 1.9-34.7 6.9-27.1 15.9-47.7 38.5-71.1 57.2v1.7c4.6 4.4 5.9 11.7 12.7 12.7 16.1 2.4 31.5-15 42.2 3.1 6.5 11.1 8.6 23.2 12.7 35.1 5.6 15.9 9.9 33.1 14.4 51.4 7.7 30.9 17.2 77.1 43.9 88.4 13.6 5.8 34.1-1.9 44.5-8.1 28.1-16.6 50-40.7 68.7-65.3 43.1-58.1 66.7-123.8 70.3-142.6'/%3E%3C/svg%3E");
		background-size: contain;
		&:hover {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500'%3E%3Cpath fill='%23" + str-slice('#{$hover}', 2) +  "' d='M402.2 178.5c2.3-13 2.3-26.4-5.8-36.5-11.2-14.2-35.1-14.7-51.4-12.2-13.3 2.1-58.3 21.9-73.6 69.4 27.1-2 41.3 2 38.7 31.8-1.1 12.5-7.4 26.2-14.4 39.3-8.1 15.1-23.4 44.8-43.4 23.4-18-19.3-16.7-56.1-20.8-80.6-2.3-13.8-4.7-30.9-9.2-45.1-3.9-12.2-12.8-26.8-23.7-30-11.7-3.4-26.2 1.9-34.7 6.9-27.1 15.9-47.7 38.5-71.1 57.2v1.7c4.6 4.4 5.9 11.7 12.7 12.7 16.1 2.4 31.5-15 42.2 3.1 6.5 11.1 8.6 23.2 12.7 35.1 5.6 15.9 9.9 33.1 14.4 51.4 7.7 30.9 17.2 77.1 43.9 88.4 13.6 5.8 34.1-1.9 44.5-8.1 28.1-16.6 50-40.7 68.7-65.3 43.1-58.1 66.7-123.8 70.3-142.6'/%3E%3C/svg%3E");
		}
	}
	// a[href^="https://www.linkedin.com"],
	a[href*="linkedin.com"]:not(.news-grid--link) {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500'%3E%3Cg fill-rule='evenodd' clip-rule='evenodd' fill='%23" + str-slice('#{$white}', 2) +  "' %3E%3Cpath d='M106.5 185.8h67.4v202.9h-67.4zM140.7 88c-23.1 0-38.2 15.2-38.2 35.1 0 19.5 14.6 35.1 37.3 35.1h.4c23.5 0 38.2-15.6 38.2-35.1-.4-20-14.6-35.1-37.7-35.1zM339.5 181c-35.8 0-51.8 19.7-60.8 33.5v.7h-.4c.1-.2.3-.4.4-.7v-28.8h-67.4c.9 19 0 202.9 0 202.9h67.4V275.4c0-6.1.4-12.1 2.2-16.5 4.9-12.1 16-24.7 34.6-24.7 24.4 0 34.2 18.6 34.2 45.9v108.6h67.4V272.3c0-62.3-33.2-91.3-77.6-91.3z'/%3E%3C/g%3E%3C/svg%3E");
		background-size: contain;
		&:hover {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500'%3E%3Cg fill-rule='evenodd' clip-rule='evenodd' fill='%23" + str-slice('#{$hover}', 2) +  "' %3E%3Cpath d='M106.5 185.8h67.4v202.9h-67.4zM140.7 88c-23.1 0-38.2 15.2-38.2 35.1 0 19.5 14.6 35.1 37.3 35.1h.4c23.5 0 38.2-15.6 38.2-35.1-.4-20-14.6-35.1-37.7-35.1zM339.5 181c-35.8 0-51.8 19.7-60.8 33.5v.7h-.4c.1-.2.3-.4.4-.7v-28.8h-67.4c.9 19 0 202.9 0 202.9h67.4V275.4c0-6.1.4-12.1 2.2-16.5 4.9-12.1 16-24.7 34.6-24.7 24.4 0 34.2 18.6 34.2 45.9v108.6h67.4V272.3c0-62.3-33.2-91.3-77.6-91.3z'/%3E%3C/g%3E%3C/svg%3E");
		}
	}