.search-container {
	// height: calc(#{$fz-NAV} * 2.5);
	font-size: $fz-NAV;

	@include mq(mq-land) {
		display: inline-flex;
		// flex: 0 1 calc((100% - var(--logo-W) * var(--logo-RATIO)) * 0.9);
		// width: calc((100% - var(--logo-W) * var(--logo-RATIO)) * 0.5);
	}
	.search-form,
	.wp-block-search__inside-wrapper {
		display: flex;
		// flex-wrap: wrap;
		// flex-direction: column;
		@include mq(mq-land) {
			flex-direction: row;
			align-items: flex-start;
		}
	}
	.wp-block-search__inside-wrapper {

		label,
		.wp-block-search__input {
			// width: 100%;
			display: block;
			font-size: inherit;
		}
		.wp-block-search__input {
			background-color: transparent;
			cursor: pointer;
			position: relative;
			width: 80%;
			@include mq(mq-land) {
				width: 10ch;
			}
			border: none;
			border-bottom: $line-THICK solid transparent;
			padding: 0;
			&:focus {
				background-color: var(--color-bg);
				border-bottom: $line-THICK solid var(--color-highlight);
				// border-color: transparent transparent var(--color-highlight) transparent;
				cursor: text;
				outline: 0;
				// width: calc(100% - 3ch);
				width: 100%;
				@include mq(mq-land) {
					width: 20ch;
				}
				@include mq(mq-iP-land) {
					width: 20ch;
				}
			}
			&::placeholder,
			&:-ms-input-placeholder,
			&::-ms-input-placeholder { /* Microsoft Edge */
				color: transparent;
				color: none;
				
			}
			&:focus,
			&:valid,
			&:invalid {
				z-index: 2;
				background-color: var(--color-bg);
				// background-color: pink;
			}
			&:valid {
				color: var(--color-highlight);
			}
			&:invalid {
				color: var(--color-highlight);
			}
		}

		// .screen-reader-text {
		// 	width: auto;
		// 	height: 100%;
		// 	clip-path: none!important;
		// 	margin: 0;
		// 	font-size: inherit;
		// 	font-weight: normal;
		// 	clip: unset;
		// 	color: inherit;
		// 	z-index: 2;
		// }
	}

	.search-form .search-submit {
		// display:none;
		display: inline-block;
		width: 20%;
		text-align: right;
		@include mq(mq-land) {
			text-align: center;
			width: 2ch;
		}
		padding-top: 0;
		box-shadow: none;
		border-radius: 0;
		cursor: pointer;
		border: none;
		font-size: inherit;
		color: var(--color-primary);
		background: none;
		background-color: var(--color-bg);
// background-color: pink;
		margin-left: -1.1em;
		position: relative;
		z-index: 3;
		opacity: 1;
		pointer-events: auto;
		transition:
		opacity #{$dur}s 0.0s;
		// visibility: visible;
		&:focus{
			outline: 0;
			color: var(--color-primary);
		}
		&.visually-hidden {
			opacity: 0;
			pointer-events: none;
			// visibility: hidden;
		}

		// padding: calc(#{$pad-T} * 0.3) calc(#{$pad-L} * 0.3);
	}
}

.search-res-item {
	margin-bottom: calc(var(--pad-T) * 1.0);
&--content {}
&--caption {}
&--caption_title {}
&--caption_title_link {}
&--caption_excerpt {}
&--content_img {}
&--footer {}

}
.search-res-item--content_img {
	position: relative;
	width: calc(50% - var(--gap));
	@include mq(mq-land) {
		// width: calc( (100% - (7 * var(--gutter)) ) / 8 + (var(--gap) * 1.25));
		width: calc( (100% - (7 * var(--gutter)) ) / 8 * 2 );
	}
	// @include mq(mq-XL-UP) {
	// 	width: calc( (100% - (7 * var(--gutter)) ) / 8 + (var(--gap) * 1.75));
	// }
}
