.customcols-container,
.customcols-row--content {
	display: flex;
}

.customcols-container {
	flex-wrap: wrap;
	gap: 0 var(--pad-R);
}

.customcols-row {
	--gap: var(--pad-R);
	min-width: 10%;
	margin-bottom: var(--pad-T);
	display: inline-flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: flex-start;

	&-colscount_1 {
		--colscount: 1;
	}

	&-colscount_2 {
		--colscount: 2;
	}

	&-colscount_3 {
		--colscount: 3;
	}

	&-colscount_4 {
		--colscount: 4;
	}

	&-colscount_5 {
		--colscount: 5;
	}

	@include mq(mq-land) {
		flex: 0 0 calc((100vw - (var(--gap) * 4.01) - (var(--pad-R) * 4)) / 5 * var(--colscount) + var(--gap) * (var(--colscount) - 1));
	}
	@include mq(mq-BREAK-P) {
		flex: 0 0 calc((#{$max-W} - (var(--gap) * 4.01)  - (var(--pad-R) * 4)) / 5 * var(--colscount) + var(--gap) * (var(--colscount) - 1));
	}

	&--title {
		font-size: 25px;
		margin-bottom: calc(var(--pad-T) * .2);
		color: var(--white);
		transition: color #{$dur}s 0s;
	}

	&:hover .customcols-row--title {
		color: var(--color-highlight);
	}

	&--content {
		margin-bottom: calc(-1 * var(--gap));
		margin-left: calc(-1 * var(--gap));
		display: inline-flex;
		flex-wrap: wrap;
		flex-grow: 1;

		@include mq(mq-land) {
			flex-wrap: nowrap;
		}

		.customcols-col--item {
			margin-bottom: var(--gap);
			margin-left: var(--gap);
		}
	}
}

.customcols-col {
	&--item {
		flex: 0 0 calc((100% - (var(--gap) * 2)) / 2);
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@include mq(mq-land) {
			flex: 0 0 calc((100vw - (var(--gap) * 4) - (var(--pad-R) * 4)) / 5);
		}
		@include mq(mq-BREAK-P) {
			flex: 0 0 calc((#{$max-W} - (var(--gap) * 4)  - (var(--pad-R) * 4)) / 5);
		}

		&_title {
			line-height: calc(#{$fz-CONTACT} * 1.65);
		}

		&_position,
		&_email {
			margin-bottom: 0;
			font-size: $fz-CONTACT;
			line-height: 165%;
		}

		&_email {
			&, * {
				color: inherit;
				text-decoration: none;
				transition: color #{$dur}s 0s;

				&:hover {
					color: var(--color-highlight);
					text-decoration: underline;
				}
			}
		}

		&_img {
			margin-top: calc(var(--pad-T) * .5);
			width: 100%;
			max-width: 100%;
			overflow: hidden;
			position: relative;
			opacity: .9;
			transition: opacity #{$dur}s 0s ease-out;

			&::after {
				content: "";
				display: block;
				position: absolute;
				width: var(--pad-R);
				height: 100%;
				top: 0;
				right: -2px;
				background: linear-gradient(
					to left,
					rgba(0, 0, 0, 1) calc(0.25 * var(--pad-R)),
					rgba(0, 0, 0, 0) calc(1 * var(--pad-R))
				);
				transform: scaleX(1);
				transform-origin: center right;
				transition: transform #{$dur}s 0s ease-out;
			}

			&:hover::after {
				transform: scaleX(0);
			}

			img {
				display: block;
				width: 100%;
				max-width: 100%;
				height: auto;
			}
		}

		&:hover .customcols-col--item_img {
			opacity: 1;
		}
	}
}
