@font-face {
	font-family: 'verbregular';
	src: url('../../fonts/verbregular.woff') format('woff'),
		url('../../fonts/verbregular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Futura-Bold';
	src: url('../../fonts/4bb88e11-0ff4-43a3-b13b-d56a9c47f1cd.woff') format('woff'),
		url('../../fonts/94ef22ad-ae9a-4fd0-8142-df1ba51c1b1c.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
