:root {
	--pad-T: calc(44px + (28 - 44) * ((100vw - 320px) / (2560 - 320)));
	--pad-R: calc(10px + (30 - 10) * ((100vw - 320px) / (2560 - 320)));
	--touch-S: 28px;
	--header-H: calc(72px + (174 - 72) * ((100vw - 320px) / (2560 - 320)));
	--gap: calc(9px + (6 - 9) * ((100vw - 320px) / (2560 - 320)));

	@media (pointer: coarse) {
		--touch-S: 42px;
	}
}

$global-transistion-duration: 0.65s;
$dur: 0.45;
$base-T: 0.65;

$fz-H1: calc(30px + (52 - 30) * ((100vw - 320px) / (2560 - 320)));
$fz-H2: calc(20px + (30 - 20) * ((100vw - 320px) / (2560 - 320)));
$fz-CONTACT: calc(13px + (14 - 13) * ((100vw - 320px) / (2560 - 320)));

$ham-W: 60px;
$ham-H: 60px;

$plus-STROKE: 2px;
$plus-SIZE: 20px;

$max-W: 1200px;
